<div class="container">
  <div>
    <h1 tesla p-a-15 class="logo">
      {{title}}
    </h1>
  </div>
  <div class="copyright">
      <h2 tesla>by Desygnable, July 2018</h2>
    <!-- <div class="dot"></div>
      <div class="dot-sm"></div>
      <div class="dot"></div> -->
  </div>
  <div class="item-1 map-container">
    <div class="map" leaflet [leafletOptions]="options" [leafletLayers]="layers" [leafletLayersControl]="layersControl"></div>
  </div>

  <div class="location-container item-2 ">
    <!-- <img src="{{location.imageUrl}}" alt="oops"> -->
    <div class="background-image-overlay"></div>
    <div class="background-image" [style.backgroundImage]="'url('+ location.imageUrl +')'" title="{{location.imgTitle}}"></div>
    <h2 class="title">{{location.title}}</h2>
    <p class="address">{{location.address}}</p>
    <div class="quote-container">
      <div id="quote">&#10077;</div>
      <p class="desc">{{location.description}}</p>
      <p class="author">
        -
        <a href="{{location.source}}" target="_blank">{{location.author}}</a>
      </p>
    </div>
  </div>

</div>